.ahrefs__tools-descriptions {
	position: relative;
	overflow: inherit;
}

.tools-description__text h3 {
	margin: 0 0 8px 0;
	margin-top: 0px;
	color: #393f4c;
	font-size: 21px;
	line-height: 1.3;
	font-weight: bold;
}

.tools-description__text h4 {
	margin: 0 0 10px 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.3;
	font-weight: normal;
	opacity: .6;
}

.tools-description__text p {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 1.4;
	text-align: left;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

.fps-panel h2 {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin: 0px 0 40px;
}

.ahrefs {
	font-family: 'Lato', sans-serif;
}

.ahrefs h1,
.ahrefs h2 {
	display: block;
	color: #fff;
	text-align: center;
	font-size: 27px;
	line-height: 1.15;
	font-weight: 700;
	margin: 0 auto 35px auto;
}

.mobile-desktop-screen.mobile-iphone-screen img {
	width: 40% !important;
	float: right;
}

.mobile-desktop-screen {
	width: 100%;
	direction: rtl;
}

.lapi-fms.mobile-fms {
	top: 37px;
	right: 7px;
	width: 76%;
}

.ahrefs__tools-descriptions {
	height: auto;
}

.ahrefs__tools-descriptions-iphone {
	height: auto !important;
}

.ahrefs__tools-description__image.ahrefs__tools-description__image-2.pull-right {
	width: 450px;
	height: 333px;
}

.tools-article h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 0px 0 18px;
}

.tools-article p {
	margin-bottom: 12px;
	font-size: 18px;
	line-height: 1.4;
	text-align: left;
}

.tools-description__holder.tools-holder-two {
	display: block;
}

.fps-panel {
	width: 100%;
	float: left;
	background: #f6f6f6;
	padding: 78px 0 66px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
}

.fps-desc {
	padding: 0;
}

.fps-panel:first-child {
	background: none;
	border: none;
}

.see-more-btn {
	margin: 0 0 20px;
}

@media screen and (min-width:320px) and (max-width:768) {
	.desktop-screen {
		display: none;
	}
	.ahrefs__tools__nav {
		display: none;
	}
	.ahrefs__tools-descriptions {
		position: relative;
		overflow: hidden;
	}
}

@media screen and (min-device-width:768px) and (max-device-width:997px) {
	.ahrefs__tools-descriptions {
		position: relative;
		overflow: inherit;
	}
	.fps-panel h2 {
		font-size: 28px;
	}
	.col-sm-8.col-sm-tool {
		padding: 0;
	}
	.lapi-fms.lapi-fms-desktop img {
		width: 74% !important;
		right: 51px;
		top: -3px;
	}
}

@media screen and (min-device-width:768px) and (max-device-width:1199px) {
	.mobile-desktop-screen.mobile-iphone-screen img {
		width: 60% !important;
		float: right;
	}
	.lapi-fms.mobile-fms {
		top: 43px !important;
		right: 10px !important;
		width: 46%;
	}
	.tools.col-sm-8 {
		z-index: 1200;
		position: relative;
	}
	.tools-article p {
		margin-bottom: 12px;
		font-size: 13px;
	}
	.tools-icon__text {
		font-size: 14px;
	}
	.ahrefs__tools-descriptions {
		padding-top: 0px !important;
	}
	.fps-panel {
		padding: 38px 0 10px;
	}
	.heading-top {
		font-size: 36px;
	}
}

@media screen and (min-device-width:992px) and (max-device-width:1199px) {
	.mobile-desktop-screen.mobile-iphone-screen img {
		width: 50% !important;
		float: right;
	}
	.lapi-fms.mobile-fms {
		top: 47px !important;
		right: 10px !important;
		width: 60%;
	}
	.tools.col-sm-8 {
		z-index: 1200;
		position: relative;
	}
	.desktop-screen.desktop-screen-mobile img {
		position: relative;
	}
	.lapi-fms.lapi-fms-desktop {
		position: absolute;
		width: 69%;
		top: 16px;
		left: 64px;
	}
}

@media (min-width:768px) {
	.ahrefs h1,
	.ahrefs h2 {
		font-size: 48px;
	}
}

@media (min-width:992px) {
	.ahrefs h1,
	.ahrefs h2 {
		margin-bottom: 65px;
	}
}

@media (min-width:768px) {
	.ahrefs .tools {
		padding-top: 80px;
		padding-bottom: 0;
	}
}

@media (min-width:768px) {
	.ahrefs .tools .tools-subtitle {
		font-size: 24px;
		margin-bottom: 70px;
	}
}

.ahrefs .tools ul li {
	display: block;
	position: relative;
	cursor: pointer;
}

.ahrefs .tools ul li:hover:after,
.ahrefs .tools ul li.active:after {
	content: "";
	position: absolute;
	bottom: -1px;
	width: 100%;
	left: 0;
	transition: all 0.2s ease-in-out;
}

.ahrefs .tools ul li:hover span,
.ahrefs .tools ul li.active span {
	background: #00c390;
}

.ahrefs .tools ul li.active:after {
	border-bottom: 1px solid #393f4c;
}

.ahrefs .tools ul li:hover span {
	background: #06d6a0;
	transition: all 0.2s ease-in-out;
}

@media (min-width:480px) {
	.ahrefs .tools ul li {
		width: 33.333%;
	}
}

.ahrefs__tools__nav {
	display: none;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	text-align: center;
	flex-wrap: nowrap;
	justify-content: space-around;
}

@media (min-width:768px) {
	.ahrefs__tools__nav {
		display: flex;
	}
}

.ahrefs__tools-description__wrapper {
	height: auto;
}

@media (max-width:767px) {
	.ahrefs__tools-description__wrapper {
		width: auto;
	}
}

@media (min-width:768px) {
	.ahrefs__tools-descriptions {
		padding-top: 24px;
	}
	.ahrefs__tools-descriptions .tools-description__text {
		margin-left: 0;
		margin-right: 0;
		padding-right: 45px;
		width: 360px;
	}
}

.ahrefs__tools-descriptions .tools-icon__image {
	display: none;
}

@media (max-width:767px) {
	.ahrefs__tools-descriptions .tools-icon__image {
		display: block;
		margin-top: 30px;
	}
}

@media (min-width:1200px) {
	.ahrefs__tools-descriptions {
		height: auto;
	}
	.ahrefs__tools-descriptions .tools-description__text {
		width: 525px;
	}
	.ahrefs__tools-descriptions .tools-description__text-2 {
		width: 100%;
	}
}

.ahrefs__tools-descriptions .content {
	padding: 70px 0 0;
}

.ahrefs__tools-descriptions ul {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.ahrefs__tools-descriptions li {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	opacity: 0;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

@media (max-width:767px) {
	.ahrefs__tools-descriptions li {
		position: relative;
		opacity: 1;
	}
}

.ahrefs__tools-descriptions li.active {
	opacity: 1;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	transition: all 0.3s linear;
	z-index: 9;
}

@media (min-width:768px) {
	.ahrefs__tools-descriptions.ru {
		min-height: 740px;
		padding-top: 107px;
	}
	.ahrefs__tools-descriptions.ru h3 {
		margin-top: -56px;
	}
}

@media (min-width:1200px) {
	.ahrefs__tools-descriptions.ru {
		min-height: 690px;
	}
}

.ahrefs__tools-description__image {
	height: auto;
}

.ahrefs__tools-description__image img {
	height: auto;
	width: 100%;
	position: absolute;
}

@media (min-width:768px) {
	.ahrefs__tools-description__image {
		width: 100%;
	}
}

@media (min-width:992px) {
	.ahrefs__tools-description__image {
		height: auto;
	}
}

@media (min-width:1200px) {
	.ahrefs__tools-description__image {
		height: auto;
	}
	.ahrefs__tools-description__image img {
		height: auto;
	}
}

@media (min-width:992px) {
	.ahrefs .tools-descriptions__holder {
		display: flex;
	}
	.ahrefs .tools-descriptions__holder ul {
		padding: 0 50px 0 0;
		flex: 1;
		width: 430px;
		max-width: 430px;
	}
	.ahrefs .tools-descriptions__holder .slides {
		flex: 1;
		margin-right: calc(-100vw/2 + 310px/2);
	}
}

@media (min-width:1200px) {
	.ahrefs .tools-descriptions__holder .slides {
		margin-right: -275px;
	}
	.ahrefs .tools-descriptions__holder ul {
		padding-right: 70px;
		margin-top: 0;
		width: 50%;
		max-width: 50%;
	}
}

.tools-icon {
	position: relative;
	left: 4px;
	display: block;
	padding-bottom: 20px;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid transparent;
	cursor: pointer;
}

.tools-icon:hover .tools-icon__image {}

@media (max-width:340px) {
	.tools-icon .tools-icon__image {
		width: 60px;
		height: 60px;
	}
	.tools-icon .tools-icon__text {
		font-size: 13px;
	}
}

@media (min-width:992px) {
	.tools-icon {
		left: auto;
		width: auto;
	}
}

.tools-icon__image--mobile {
	display: block;
}

.tools-icon__image--mobile--wrapper {
	position: relative;
	width: 103%;
	margin: 30px 0 0 -1.5%;
	padding: 0;
}

@media (min-width:768px) {
	.tools-icon__image--mobile--wrapper {
		display: none;
	}
}

@media (min-width:992px) {
	.tools-icon__text {
		max-width: none;
	}
}

@media (min-width:768px) {
	.tools-description__holder {}
}

.tools-description__text {
	display: block;
	margin: 0 auto 23px auto;
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width:767px) {
	.tools-description__text {
		margin: 0 auto;
	}
	.tilrPath {
		display: none;
	}
	.technology-section h2 {
		line-height: 1.4em;
	}
	.sign-up-btn.features-btn {
		padding: 4px 10px!important;
		font-size: 12px !important;
	}
	.tools-article p {
		font-size: 15px;
	}
	.tools-article h3 {
		font-size: 20px;
	}
	.tools-article hr {
		display: none;
	}
	.tools-icon__image--mobile--wrapper {
		margin-top: 10px;
	}
	/*.feature-school-panel .tools-article{ position:relative; padding-bottom:50px;}
	.feature-school-panel .tools-article .see-more-btn{position:absolute; bottom:0; left:50%; margin:0; margin-left:-35px;}*/
	.tools-icon__image--mobile--wrapper {
		display: none;
	}
	.fps-panel h2 {
		margin-top: 40px!important;
		margin-bottom: 0px!important;
		font-size: 28px!important;
	}
	.ahrefs__tools-descriptions li {
		margin: 30px 0;
	}
	.swiper-container {
		padding-top: 30px;
	}
	.swiper-container h2 {
		font-size: 28px!important;
		margin-top: 0px!important;
	}
	.swiper-container .slide-bg {
		width: 95%;
	}
	.tilrPaths-section-content-text h2 {
		font-size: 24px;
	}
	.tilrPaths-section-content-text h3 {
		font-size: 18px;
	}
	.tilrPaths-section-content-text p {
		font-size: 13px;
	}
	body .slide-bg h5 {
		font-size: 16px;
		line-height: 1.4em;
	}
	body .slide-bg p {
		font-size: 13px;
		line-height: 1.4em;
	}
}

@media (max-width: 640px) {
	.tilrPaths-section {
		height: 23em;
	}
}